@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<form id="form_index">
    <fieldset>
        <legend>Draw</legend>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="btn-group-toggle" role="group" aria-label="Basic example">
                        <button id="btn_guess" type="button" class="btn btn-info">Guess</button>
                        <button id="btn_clear" type="button" class="btn btn-info">Clear</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label id="label_prediction" for="progressbar_execution">Prediction</label>
                    <div class="progress">
                        <div id="progressbar_execution" class="progress-bar bg-info"
                             role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <br />
        <br />
        <div id="div_canvas" class="form-group">
        </div>
        <br />
        <h5>Train the Network</h5>
        <br />
        <div class="form-group">
            <label id="label_slider" for="slider_train_net">Number of iterations: 1</label>
            <input id="slider_train_net" type="range" min="1" max="100" value="1" class="custom-range">
            <button id="btn_train" type="button" class="btn btn-info">Train</button>
        </div>
        <br />
        <div class="form-group">
            <button id="btn_test" type="button" class="btn btn-info">Test</button>
        </div>
        <div class="form-group">
            <label id="label_test" for="progressbar_test"></label>
            <div class="progress">
                <div id="progressbar_test" class="progress-bar bg-warning"
                     role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </fieldset>
</form>
<br />
<br />
